.slideshow-container {
    position: relative;
    /* width: 100%; */
    /* max-width: 1000px; */
    overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid var(--color-accent);
    padding-top: 10px;
}

.slideshow-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    text-align: center;
    /* background-color: var(--color-secondary); */
    color: var(--color-text);
    padding: 0;
    font-size: 24px;
    box-sizing: border-box;
}

.slide .projectpreview {
  margin: 50px;
}

.slide {
  width: 100%;
}

.slide img{
  /* margin: 100px; */
  height: 500px;
  width: 750px;
}

.prev,
.next {
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  background-color: var(--color-background);
  color: var(--color-accent);
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  width: 60px;
  height: 100px;
  border: 2px solid var(--color-accent);
  border-radius: 10px;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.prev:hover,
.next:hover {
    background-color: var(--color-accent);
    color: var(--color-background);
}
