.projectmain,
.heading,
.paragraph {
  font-family: "Space Mono";
}

.subheading {
  margin-top: 40px;
}
.projectmain {
  border: 2px solid var(--color-muted);
  border-radius: 20px;
  padding: 0 20px;
}

.projectmain a {
  color: var(--color-accent);
}

.heading {
  font-size: 3rem;
  color: var(--color-accent);
  margin: 20px 0;
}

@media (max-width: 600px) {
  .heading {
    font-size: 1.4rem;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 1.7rem;
  }
}

.paragraph {
  line-height: 1.5rem;
  font-size: 1.1rem;
}
