@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@font-face {
  font-family: "EnvyCoder Nerd Font Mono";
  src: url(../fonts/EnvyCodeRNerdFontMono-Regular.ttf);

  font-family: "0xProto Nerd Font Mono";
  src: url(../fonts/0xProtoNerdFontMono-Regular.ttf);

  font-family: "Inter";
  src: url(../fonts/Inter-Regular.ttf);

  font-family: "BigBlueFont";
  src: url(../fonts/BigBlueTerm437NerdFont-Regular.ttf);
}
/* :root {
  --background-color-darker: #1b1c1c;
  --foreground-dark: #00c4ff;
  --foreground-light: #8fd7ee;
  --secondary-dark: lightcoral;
} */

.light-theme {
  --color-primary: #a0a0a0;
  --color-secondary: #4d4a4a;
  --color-accent: #000000;
  --color-background: #dfd7d7;
  --color-text: #2e2e2e;
  --color-muted: #b9b7b7;
  --color-bg-lucent: rgba(245, 247, 250, 0.3);
}

.nord-theme {
  --color-primary: #3498db;
  --color-secondary: #5e81ac;
  --color-accent: #88c0d0;
  --color-background: #2e3440;
  --color-text: #e5e9f0;
  --color-muted: #4c566a;
  --color-bg-lucent: rgb(46, 52, 64, 0.3);
}

.peach-theme {
  --color-primary: #ffccb6;
  --color-secondary: #ff9a8b;
  --color-accent: #d75a4a;
  --color-background: #fff5ec;
  --color-text: #4f3a3c;
  --color-muted: #e8a598;
  --color-bg-lucent: rgba(255, 245, 236, 0.3);
}

.midnight-theme {
  --color-primary: #5a3e73;
  --color-secondary: #8f6ea4;
  --color-accent: #b17bc4;
  --color-background: #1e1a29;
  --color-text: #d9d7e0;
  --color-muted: #4a3d5e;
  --color-bg-lucent: rgba(30, 26, 41, 0.3);
}

.gruvbox-theme {
  --color-primary: #d79921; /* Gruvbox yellow */
  --color-secondary: #98971a; /* Gruvbox aqua */
  --color-accent: #458588; /* Gruvbox purple */
  --color-background: #282828; /* Gruvbox dark background */
  --color-text: #ebdbb2; /* Gruvbox light text */
  --color-muted: #61564d; /* Gruvbox muted color */
  --color-bg-lucent: rgba(
    40,
    40,
    40,
    0.9
  ); /* Gruvbox dark background with transparency */
}

.monokai-theme {
  --color-primary: #f92672; /* Monokai pink */
  --color-secondary: #a6e22e; /* Monokai green */
  --color-accent: #66d9ef; /* Monokai blue */
  --color-background: #272822; /* Monokai dark background */
  --color-text: #f8f8f2; /* Monokai light text */
  --color-muted: #75715e; /* Monokai muted color */
  --color-bg-lucent: rgba(
    39,
    40,
    34,
    0.9
  ); /* Monokai dark background with transparency */
}

#comical {
  font-family: "BigBlueFont";
  font-size: 4rem;
}

html {
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border-bottom: 4px solid var(--color-accent);
  background-color: var(--color-muted);
  z-index: 1002;
  padding-left: 8%;
  padding-right: 150px;
}

@media (max-width: 520px) {
  header {
    padding: 0 0;
  }
}

header p {
  font-size: 3rem;
  font-family: "Barlow Condensed";
  font-weight: 800;
  margin: 5px;
  font-style: italic;
}

header span {
  font-family: "Josefin Sans";
  font-size: 1.2rem;
  align-content: center;
}

main {
  flex: 1;
  margin: 120px 10%;
  overflow: auto;
}

code {
  font-family: "EnvyCoder Nerd Font";
  color: var(--color-text);
  background-color: var(--color-muted);
  padding: 3px;
  /* border: 2px solid; */
  border-radius: 10px;
  display: block;
  margin: 5px 0;
  font-size: 1rem;
}

footer {
  flex: 1;
  display: flex;
  place-content: center;
  width: 100%;
  margin-top: auto;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin: 0 1vw;
}

button {
  font-family: "EnvyCoder Nerd Font";
  color: var(--color-text);
  background-color: var(--color-accent);
  border: none;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  cursor: pointer;
  width: 130px;
}
